.card_rea {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background:linear-gradient(to top rgb(8, 8, 8), rgb(246, 241, 241)) !important; */
}

.img_lecteur_audio {
    background: linear-gradient(to top, rgb(8, 8, 8, .6), rgb(246, 241, 241, .2));
}

.img_site_couture {
    background: linear-gradient(to top, rgb(8, 8, 8, .6), rgb(246, 241, 241, .2))
}

.img_ecosia {
    background: linear-gradient(to top, rgb(8, 8, 8, .6), rgb(246, 241, 241, .2))
}

.img_marmiton {
    background: linear-gradient(to top, rgb(8, 8, 8, .6), rgb(246, 241, 241, .2))
}

.container {
    margin-top: 150px !important;
}