.warning_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-left:15%;
    margin-right: 1%;
}
.warning_table{
    display: flex;
    column-gap: 20px;
}
article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: 
    linear-gradient(to top, rgb(8, 8, 8,.8), rgb(246, 241, 241,.2));
    /* linear-gradient(to top,#556B2F,#808000); */
    border: 1px solid black;
    text-align: center;
    color: white;
}
.title_warning{
    text-align: center;
    height: 6rem;
    background:
    linear-gradient(to top, rgb(8, 8, 8,.8), rgb(246, 241, 241,.2));
    /* linear-gradient(to bottom,#556B2F,#808000); */
    color: white;
   border: 1px solid black;
}
.title_warning_twit{
    height: 3rem;
}
.link_warning{
    color: green;
    border: 1px double green;
} 

/* .subtitle_warning{
    background: 
    linear-gradient(to right,#556B2F,#808000);
}
.para_warning{
    background: 
    linear-gradient(to left,#556B2F,#808000);
}
*/

/* .first_column{
  
}
.second_column{
  
}
.third_column{
  
}
.fourth_column{
  
} */