.contact_cont{
    width: 60%;
    height: 600px;
    transform: translate(50%,20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;

}
.card_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: #0050ef center no-repeat url("./linkdin_button.png");
}
.card_twit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: #1ca5b8 center no-repeat url("./github_button.png");
}
.card_gitH{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: #ffbc26 center no-repeat url("./warning_button.png");
}
.card_desc_profil{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redirec_contact{
    display: flex;
    width: 100%;
    height: 100%;
}
.padding_cont{
    padding: 1%;
}