/* html_style */
body{
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0, 0.7), rgb(255, 255, 255)),
    url(./olivier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed, local;
    height: 115%;
}
.web_title{
  text-decoration: underline;
  font: bold;
  font-size: 25px;
}
.page_title{
  border: 1px white solid;
  width: 8%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(15px);  
}

html{
  height:100%;
  scroll-behavior: smooth;
}
.backgroundc_olive{
    background: 
    linear-gradient(to left,#556B2F,#808000);
}
/* nav_barre */
.orga_nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.picture_nav{
  height: 120px !important;
  width: 120px !important;
}
.text_align_cent{
  text-align: center;
}
.border_white{
  border: 1px solid white;
  width: 100px;
}
.active_li_white{
  border: 1px solid white;
}
.active_a_white{
  color: white !important;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: underline;
}
.inactive_a_white{
  color: rgba(255, 255, 255, 0.5) !important;
}
.inactive_a_white:hover{
  text-decoration: underline;
}
#top_nav{
    display: flex;
    justify-content: space-around;
}
.nav_position{
  transform: translate(25px,150px);
}
.three_right_buttons{
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_card_link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background:center no-repeat url("./linkdin_button.png");
}
.nav_card_twit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background:center no-repeat url("./github_button.png");
}
.nav_card_gitH{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  background:center no-repeat url("./warning_button.png");
}
.nav_redirec_contact{
  display: flex;
  width: 100%;
  height: 38%;
}
.nav_redirec_contact:hover{
  border: 1px solid white;
}

/* body_part */

 .card_presentation{
  /* background-color: aquamarine; */
  border: 1px solid black;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat (2,1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(200px, auto);

}
#testOne{
  /* background-color: blue; */
  grid-column: 2;
  grid-row: 1/2;
}
#testTwo{
  /* background-color: blueviolet; */
  grid-column: 1;
  grid-row: 1;
}
#testThree{
  /* background-color: brown; */
  grid-column: 2;
  grid-row: 3/2;
}
#testFour{
  /* background-color: cadetblue; */
  grid-column: 1;
  grid-row: 2;
}
.transformTest{
  transform: translateY(50px);
}
.experiment{
  height: 800px;
}

.img_card_pres{
  background: linear-gradient(to top, rgb(8, 8, 8,.6), rgb(246, 241, 241,.2)),
              center/contain no-repeat url("./screen_page_description.jpg");
}
.img_card_rea{
  background: linear-gradient(to top, rgb(8, 8, 8,.6), rgb(246, 241, 241,.2)),
              center/contain no-repeat url("./screen_page_realisations.jpg");
}
.img_card_vei{
  background: linear-gradient(to top, rgb(8, 8, 8,.6), rgb(246, 241, 241,.2)),
              center/contain no-repeat url("./screen_page_veille.jpg");
}
.img_card_cont{
  background: linear-gradient(to top, rgb(8, 8, 8,.6), rgb(246, 241, 241,.2)),
              center/contain no-repeat url("./screen_page_contact.jpg");
}
.card_index{
  display: flex;
  width: 100%;
  height: 100%;
}
  /* test */
  /* fin test */

