.background_collapse{
    background-color: #556B2F;
}
.page_title{
    width: 15%;
  }
.bones_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bones_title{
    border: 1px solid black;
    background: linear-gradient(to top, rgb(8, 8, 8,.6), rgb(246, 241, 241,.2));
    color: white;
}
